@import "node_modules/bulma/bulma";
@import "node_modules/bulma-divider/src/sass/index";

html, body {
    margin: 0;
}


section.hero {
    background: url(/img/cover.jpg) center / cover;
}


.logo {
    background: rgba(0, 0, 0, .5)
}
